bin/Debug/net6.0/BigLobbyMod.dll
bin/Debug/net6.0/BigLobbyMod.pdb
bin/Debug/net6.0/publish/BigLobbyMod.dll
bin/Debug/net6.0/publish/BigLobbyMod.pdb
bin/
obj/Debug/net6.0/BigLobbyMod.AssemblyInfo.cs
obj/Debug/net6.0/BigLobbyMod.AssemblyInfoInputs.cache
obj/Debug/net6.0/BigLobbyMod.dll
obj/Debug/net6.0/BigLobbyMod.pdb
obj/Debug/net6.0/BigLobbyMod.sourcelink.json
obj/Debug/net6.0/ref/BigLobbyMod.dll
obj/Debug/net6.0/refint/BigLobbyMod.dll
obj/Debug/net6.0/ref/BigLobbyMod.dll
